################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AMD.Compute.Mode.Toggle/obj/Debug
